header {
  margin: 30px;
  display: flex;
  #title {
    font-family: 'gothic-e', sans-serif;
    align-self: center;
    margin-left: 15px;
    $indent: calc(50px + 15vw);
    padding-left: $indent;
    text-indent: calc($indent * -1);
  }
}

@media screen and (max-width: 370px) {
  #icon {
    width: 100px;
    height: 100px;
  }
  #title {
    font-size: 2em;
  }
}
@media screen and (min-width: 371px) and (max-width: 700px) {
  #icon {
    width: 30vw;
    height: 30vw;
  }
  #title {
    //font-size: 2.5em;
    font-size: calc(2.5em + 5vw);
  }
}
@media screen and (min-width: 700px) {
  #icon {
    width: 250px;
    height: 250px;
    margin-left: 20px;
  }
  #title {
    font-size: 5em;
    margin-left: 20000px;
  }
}
